.git
.github
.DS_Store
README.md
docs
docker-compose*.yml
.env
.env.*
!.env.example

api/vendor
api/node_modules
api/storage/logs
api/storage/framework/cache
api/storage/framework/sessions
api/storage/framework/testing
api/storage/framework/views

frontend/.next
frontend/node_modules
